<nav class="navbar navbar-expand-lg navbar-light  navbar-custom">
  <div class="pb-4 pt-3 mt-0 mb-0" ></div>
</nav>

<p>
  Users are
</p>

<div *ngIf="users">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone num</th>
      <th>Email</th>
      <th>Address</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td>{{user.role}}</td>
    </tr>
    </tbody>
  </table>
<!--
  <div *ngFor="let user of users">{{user.firstName}}</div>
-->
</div>














<div class="container-fluid">
  <div class="row">
    <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">© 2019 Copyright
      </div>
    </footer>
  </div>
</div>
