/* You can add global styles to this file, and also import other style files */

.jumbotron.jumbotron-fluid {
  margin-bottom: 0rem !important;
  padding-top: 40px !important;
  padding-left: 80px !important;
  padding-right: 80px;
    height: 150%;
  background: #f4f4f4;
}

.wc-date-container {
  border-radius: 4px !important;
}

.wc-date-container > i.fa.fa-calendar {
  /* this is for calander in datepicker*/
}
