<br>
<div class="container">
<div *ngIf="Restaurant">
  <div class="row">
    <div class="col-sm-3"><img src="assets/images/download.jpeg"></div>
  <div *ngFor="let restaurant of Restaurant" class="col-sm-5">
    <div><h1>{{restaurant.Name}}</h1></div>
    <div>{{restaurant.Location}}</div>
    <div>{{restaurant.address}}</div>
    <div>{{restaurant.email}}</div>
    <div>{{restaurant.phone}}</div>
    <div>{{restaurant.type}}</div>
    <span>Cuisines</span>:
    <span *ngFor="let cuisine of restaurant.Cuisines">{{cuisine.Type}}, </span>
  </div>

    <div class="col-sm-3">
      <h3>Book your table</h3>
      Date
      <angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
    <br>Time
      <div>
        <select class="custom-select custom-select-sm selectbox">
          <option disabled selected>select time</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <span class="icon"><i class="far fa-clock fa-lg" aria-hidden="true"></i></span>
      </div>
      Persons
    <div>
      <select class="custom-select custom-select-sm selectbox">
        <option disabled selected>how many persons </option>
        <option value="1">one</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <span  class="icon"><i class="fas fa-user-tie fa-lg"></i></span>
    </div>
</div>
</div>
</div>
</div>


<pre>we have to add 1> features and amanities
               2> about restaurant
               3> address & location
               4> contact admin in restaurant table at the end of the page
               5> add cost in the above</pre>

reference: https://www.dineout.co.in/hyderabad/arena-eleven-gachibowli-west-hyderabad-51628

