
  .selectbox{
    color: #1565c0 !important;
    border: 1px solid #1565c0 !important;
    background: none !important;
  }
far fa-clock{
  color: red !important;
  font-size: 30px;
}

i{
  color:  #1565c0;
}
.icon{
  margin-left: -25px;
}
