<p id="filter"><b>Filters</b></p>

<div class="container">
  <div class="topnav">
    <input type="search" name="search" [(ngModel)]="userFilter.name" placeholder="search">
    <ul>
      <li *ngFor="let users of restaurants | filterBy: userFilter">{{ users.name }}</li>

      <!-- in case you want to show empty message -->
      <li *ngIf="(restaurants | filterBy: userFilter).length === 0">No matching elements</li>
    </ul>
  </div>
  <div>
  <input type="checkbox" name="star" value="5strar">&nbsp;
  <label>5 star</label>
  </div>
  <div>
  <input type="checkbox" name="buffet" value="buffet">&nbsp;
  <label>Buffet</label>
  </div>
  <div>
  <input type="checkbox" name="chinese" value="chinese">&nbsp;
  <label>chinese</label>
  </div>
</div>
<div>

</div>


