
<div class="container">
  <div class="topnav">
    <label>search</label>&nbsp;
    <input type="search" name="search" [(ngModel)]="userFilter.name" placeholder="search">
    <ul>
      <li *ngFor="let users of restaurants | filterBy: userFilter">{{ users.name }}</li>

      <!-- in case you want to show empty message -->
      <li *ngIf="(restaurants | filterBy: userFilter).length === 0">No matching elements</li>
    </ul>
  </div>
  <div>
  <input type="radio" name="radio" value="name">
  <label>Name</label>
  </div>
  <div>
  <input type="radio" name="radio" value="rating">
  <label>Rating</label>
  </div>
  <div>
  <input type="radio" name="radio" value="location">
  <label>Location</label>
  </div>

  <div class="dropdown">
    <p class="dropbtn">User</p>
    <div class="dropdown-content">
      <button class="btn btn-link">View profile</button>
      <button class="btn btn-link">Restaurants</button>
      <button class="btn btn-link">view Users</button>
      <button class="btn btn-link">logout</button>
    </div>
  </div>

</div>
<div>
  <!--<input type="text" [(ngModel)]="userFilter.name" placeholder="name">
  <ul>
    <li *ngFor="let users of restaurants | filterBy: userFilter">{{ users.name }}</li>

    &lt;!&ndash; in case you want to show empty message &ndash;&gt;
    <li *ngIf="(restaurants | filterBy: userFilter).length === 0">No matching elements</li>
  </ul>-->
</div>

<!--
<div *ngFor="let rest of restaurants">{{rest.name}}</div>
-->
bfggbfn
