/*header*/
.navbar-custom {
  background: linear-gradient(to bottom, #33ccff 1%, #ff9966 100%);
}

/*footer*/
#footer{
  background: linear-gradient(to bottom, #33ccff 1%, #ff9966 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
